debian/stsbl-iserv-server-systemd-resolve/*
debian/stsbl-iserv-server-systemd-resolve.substvars
debian/stsbl-iserv-server-systemd-resolve.debhelper.log
debian/files
debian/debhelper-build-stamp
debian/*.debhelper
