Source: stsbl-iserv-server-systemd-resolved
Section: misc
Priority: optional
Maintainer: Stadtteilschule Blankenese <repository@stsbl.de>
Build-Depends: debhelper-compat (= 13), dh-sequence-iserv, dh-sequence-stsbl
Standards-Version: 4.5.0
Homepage: https://it.stsbl.de/

Package: stsbl-iserv-server-systemd-resolved
Architecture: all
Conflicts: iserv-portal
Depends: iserv-update, systemd, ${misc:Depends}, ${perl:Depends}
Xb-Private-Iserv-Revision: ${iserv:Revision}
Description: IServ systemd-resolved-Server
 Konfiguriert die systemd-Komponente resolved für das Weiterleiten von
 DNS-Abfragen vom lokalen Gerät.
Tag: suite::iserv
